<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Snow Removal Management</title>
    <!-- Bootstrap core CSS -->
    <link href="../../../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../stylesheets/employee.css" rel="stylesheet">
</head>

<body class="text-center">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="homepage.html">Snow Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="height:100px; margin:0;" id="navbarsExampleDefault">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/managerOverviewMain">Managers</a>
                    <a class="nav-link" href="/employeeMain">Employees</a>
                    <a class="nav-link" href="/crewMain">Crews</a>
                    <a class="nav-link" href="/jobMain">Jobs</a>

                </nav>
            </div>
        </div>
    </nav>
    <a class="navbar-brand float-left" href="/logout">
        <button style="width:10vw; height:110%; margin-top:-1vh;" class="mt-4 btn btn-default btn-dark">Log out</button>
    </a>

    <main role="main" class="container" style="margin-top:100px;">
        <h1 class="mb-5">Employee Overview</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form action="/api/employees" method="POST">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="contact">Contact:</label>
                            <input type="text" class="form-control" id="contact" placeholder="Enter contact"
                                name="contact">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="admin-check">
                                <input type="checkbox" class="form-check-input" id="admin-check" name="admin"
                                    value="true">Admin
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2 mb-5">Check-in</button>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                {{{body}}}
            </div>
        </div>
    </main>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../../js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="../../../js/vendor/popper.min.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
</body>

</html>