<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employee Name</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {{#each employees}}
                <tr>
                    <th scope="row">{{dataValues.id}}</th>
                    <td>
                        <p id="emp_name">{{dataValues.Name}}</p>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {{#each jobs}}
                <tr>
                    <th scope="row">{{dataValues.id}}</th>
                    <td>
                        <p id="emp_name">{{dataValues.location}}</p>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>