<div class="col-md-4">
    {{#each employees}}
    {{#unless dataValues.Admin}}
    {{#unless dataValues.assigned}}
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">{{dataValues.Name}}</li>
    </ul>
    {{/unless}}
    {{/unless}}
    {{/each}}
</div>
<div class="col-md-4">
    {{#each jobs}}
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">{{dataValues.location}}</li>
    </ul>
    {{/each}}
</div>
<div class="col-md-4">
    {{#each employees}}
    {{#unless dataValues.Admin}}
    {{#unless dataValues.assigned}}
    <ul class="list-group list-group-horizontal">
        <button type="submit" class="btn btn-primary add-crew mb-3" data-id="{{dataValues.id}}">Assign</button>
    </ul>
    {{/unless}}
    {{/unless}}
    {{/each}}
</div>