<div class="col-md-4">
    {{#each employees}}
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">{{dataValues.Name}}</li>
    </ul>
    {{/each}}
</div>
<div class="col-md-4">
    {{#each jobs}}
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">{{dataValues.location}}</li>
    </ul>
    {{/each}}
</div>
<div class="col-md-4">
    {{#each keyMap}}
    <ul class="list-group list-group-horizontal">
        <button type="submit" class="btn btn-primary add-to-crew mb-3" data-emp-id="{{employee_id}}"
            data-job-id="{{job_id}}">Assign</button>
    </ul>
    {{/each}}
</div>