
    body {
        background-color: #dc8100;
        text-align: center;
        padding: 150px;
    }

    .back {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 25vw;
        height: 12vh;
        color: orange;
        font-size: 28px;
        border-radius: 5px;
    }

    h1 {
        font-size: 50px;
    }

    body {
        font: 20px Helvetica, sans-serif;
        color: #333;
    }

    article {
        display: block;
        text-align: left;
        width: 650px;
        margin: 0 auto;
    }