body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.map{
    float:right;
}

/* Navigation */
.nav-link{
    display: inline-block;
}

/* Main Container */
.managerCont{
    position:relative;
    margin-top:10vh;
    height:80vh;
}

table{
    margin-top:5vh;
    margin-left:2.5vw;
    margin-right:2.5vw;
}



footer{
    top:110vh;
}

