/* Navigation */
.nav-link{
    display: inline-block;
}

/* Main Container */
.managerCont{
    position:relative;
    margin-top:20vh;
    height:80vh;
    width: 100%;
}

table{
    margin-top:5vh;
    margin-left:2.5vw;
    margin-right:2.5vw;
}
/* Employees Data and Controls */

.tableRowE{
  width:110%;
  height:10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 3vw;
}

.employeeInfo{
    margin-left:3vw;
}

.employeeButtons {
}

/* Crews Data and Controls */
.crew-text{
    width: 90%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.tableRowC{
    height:10vh;
}

.crewInfo{
      width:97%;
      display: flex;
      flex-direction: row; 
      justify-content: space-around;
      margin-left:4.5vw;
  }
  

/* Jobs Data and Controls */

.jobs-text {   
    margin-right:1vw;
}
  
.tableRow{
    height:10vh;
    display: flex;
    margin-left: 4vw;
}

.jobInfo{
    margin-top:1vh;
    margin-left:5vw;
    width: 60%;
    
}
  


.jobButtons {
    display: flex;
    float:left;
    flex-direction: column;
}